@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


body {
  background: #ffffff;
  color: rgb(69, 0, 87);
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
  font-size: 3vw;
}

#puzzle {
  width: 99vw;
  height: calc(99vw * 9 / 16);
  aspect-ratio: 16/9;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* 3x3 */
  gap: 0px;
  background-image: url("../midia/img/oficina.png");
  background-size: 100vw;
}

.tile {
  background-image: url("../midia/img/car-oficina.png");
  background-size: 600% 600%;
  border: 1px solid #555;
  background-repeat: no-repeat;
}